@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600&display=swap");

.home-section1 {
  width: 100%;
  height: 100vh;
}

.home-section1-background {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  object-fit: cover;
}

.home-section1-content {
  font-family: Poppins;
  text-align: center;
  padding-top: 17vh;
  color: white;
}

.home-section1-title {
  margin-bottom: 0.125em;
  font-size: 6rem;
  font-family: "Dancing Script";
}

.home-section1-sub-title {
  margin-bottom: 0.75em;
  font-size: 2rem;
}

.home-section1-buttons {
  margin-left: auto;
  margin-right: auto;
  width: 23%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-section1-buttons div {
  font-weight: 300;
  padding: 0.5em 1em;
  border: 1px solid transparent;
  border-radius: 10px;
  font-weight: 400;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.home-section1-button-1 {
  background-color: #00adb6;
  border-color: #00c6cf;
  color: white;
}

.home-section1-button-1:hover {
  transform: translateY(-7px);
  background-color: #00c6cf;
  color: white;
}

.home-section1-button-2 {
  background-color: rgb(34, 34, 34);
}

.home-section1-button-2:hover {
  transform: translateY(-7px);
  background-color: rgb(45, 45, 45);
  color: white;
}

/*! end of Section 1 */

/*! start of Section 2 */
.home-section2 {
  width: 100%;
  height: 120vh;
  text-align: center;
  font-family: Poppins;
}

.home-section2-title {
  font-size: 2.25rem;
  font-weight: 500;
  margin-top: 2em;
  margin-bottom: 2em;
}

.home-section2-swiper {
  margin-left: 15%;
  width: 69%;
  margin-top: 2em;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.swiper-card {
  height: 500px;
  object-fit: cover;
  box-shadow: 0 0 4px rgb(34, 34, 34);
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 80%;
  height: 100%;
  object-fit: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  box-shadow: 0 0 3px rgb(45, 45, 45);
}

.swiper-card-title {
  font-size: 1.5rem;
  background-color: white;
  color: #5452c2;
  padding: 5px;
  position: absolute;
  z-index: 2;
  padding: 1rem;
  border-bottom-right-radius: 20px;
}

.outline-button {
  margin-top: 1rem;
  padding: 8px 12px;
  background-color: #00adb6;
  color: white;
  border-radius: 10px;
  width: 12rem;
  transition: 0.3s ease-in-out;
  box-shadow: 0 0 3px rgb(45, 45, 45);
}

.outline-button:hover {
  background-color: #01939b;
  cursor: pointer;
  box-shadow: none;
}

.line-button {
  margin-top: 1rem;
  padding: 8px 12px;
  color: #324b4c;
  background-color: #324b4c;
  border-radius: 10px;
  width: 12rem;
  transition: 0.3s ease-in-out;
  box-shadow: 0 0 3px rgb(45, 45, 45);
  color: white;
}

.line-button:hover {
  background-color: #213233;
  cursor: pointer;
}
